@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: 'Roboto',
        sans-serif;

}

.fondo-dark {
    background: #0E141F;
}

.not-a {
    text-decoration: none !important;
    color: black;
}

.not-a:hover {
    text-decoration: none !important;
    color: black;
}

.not-a:visited {
    text-decoration: none !important;
    color: black;
    background: white;
}

/* NAV */
.nav {
    background: #0E141F;
}

.focus {
    color: white;
    transition: 200ms;
}

.focus:hover {
    color: white;
    transform: scale(1.05, 1.05);
    background: none;
    color: #962096 !important;
}

/* Cabecera */
.cabecera {
    height: 110vh;
}

.cabecera-home {
    height: 100vh;
}

.title-name {
    font-family: 'Bebas Neue', cursive !important;
    /* 9C27B9 */
}

.fondo-cabecera {
    background-image: url("https://i.ibb.co/zhjT7m0/image-purple.png");
    background-size: cover;
}

/* skills */

.content {
    height: 120vh;
}

.text-skills-fameworks {
    font-size: 11px;
}

.text-shadow {
    text-shadow: 4px 4px 5px #858A8F;
}

.img-skills {
    height: 70px;
}

.php {
    height: 50px !important;
}

.padding {
    padding: 0px !important;
}

/* Profile */

.icon {
    font-size: 50px;
    color: black;
}

.profile-picture {
    height: 150px;
}

.focus-skills {
    transition: 200ms;
}

.focus-skills:hover {
    transform: scale(1.05, 1.05);
    background: none;
    color: #000000 !important;
    font-size: 17px;
}

.focus-ability {
    transition: 200ms !important;
}

.focus-ability:hover {
    transform: scale(1.05, 1.05) !important;
    color: #962096 !important;
    font-size: 15px;
    border-bottom: 5px solid #962096;
}

.text-ability {
    font-size: 15px;
    color: black;
}

.focus-ability:hover .icon {
    color: #962096;
}

/* Porjects */

.styles-img {
    height: 200px;
}

.style-img {
    width: 25px;
}

.focus-project{
    transition: 200ms;
}

.focus-project:hover{
    transform: scale(1.05, 1.05) !important;
    font-size: 15px;
}


/* responsive */
@media only screen and (max-width: 600px) {
    .content {
        height: 260vh !important;
    }

    .junior {
        color: rgb(255, 255, 255) !important;
    }
}

@media only screen and (max-width: 800px) {
    .content {
        height: 160vh;
    }

    .junior {
        color: rgb(255, 255, 255) !important;
    }
}